<div class= "container" style="margin: 10px auto;">
<div class= "row">
    <h2>About Us</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
      <p></p>
        <div>Where and When?</div>
        <br>
        <ul>
          <li>
          Fix and Break is avaliable to access anytime, anywhere 24/7, 365 days a year. Just post your item and a repairman will be on his way.
          </li>
          <li>
            If you would like to be a repairman, simply sign up and see projects avaliable for tinkering.
          </li>
          <li>
          Stay tuned to our FB Fix and Break for the latest updates, special events and save the date!
          </li>
        </ul>
        <div>What items to bring?</div>
        <br>
        <ul>
          <li>Bring your broken electrical appliances, clothes that need mending, or broken household items that could use a new lease of life.</li>
        </ul>
        <div>How to fix it?</div>
        <br>
        <ul>
          <li>Our Repair Coaches will assess the condition of your item. If it’s within their repair capability, they will direct you to the appropriate station after making sure you have read and signed off on the Repair Kopitiam house rules.
          </li>
          <li>
          You will be guided by our Repair Coaches to first diagnose the fault with the item, explore methods of rectification and then start repairing it.
          </li>
          <li>
          While our Repair Coaches have undergone some training before each session, it is quite possible that the repair job may not work out due unavailability of certain tools or spare parts.</li>
        </ul>
      </div>
      <div class="col-lg-6" style="margin: auto;">
        <img class="img-fluid rounded" src=<%= image_url ('landingpage/image1.jpg')%> />
      </div>
    </div>
    </div>