

  <!-- Page Content -->
  <div class="container">

    <!-- Latest Listing Section -->
    <h2>Latest Listing</h2>

    <div class="row">
		 <% @items.each do |item| %>
    	 <div class="col-lg-4 col-sm-6 portfolio-item">
      	 <div class="card h-100">
	      	 <div class="item-list-card"><a href="/items/<%= item.id%>"><img class="card-img-top" src=<%= image_url (item.image)%> /></a></div>
        	 <div class="card-body">
        	 	<h4 class="card-title">
        	 		<a href="#"><%= item.id %></a>
      	 		</h4>
      	 		<p class="card-text"><%= item.description %></p>
    	 		</div>
  	 		</div>
	 		</div>
		 <% end %>
    </div>
    <!-- /.row End of Latest Listing -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
      </div>
    </div>

  </div>
  <!-- /.container -->