<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Image:</strong>
  <img src ="<%= image_path(@item.image)%>" />
</p>

<%= link_to 'Back', root_path %>