// Place all the styles related to the landingpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.scrollmenu {
//   background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

// div.scrollmenu a:hover {
//   background-color: #777;
// }
h2 {
    font-size: 2rem;
}
h1 {
    font-size: 3rem;
}
.text-shadow-border {
   background: black;
  text-shadow: 1px 1px 0 black;
}