<div class="row devise-page-bg">
  <div class="card px-4 col-md-4 content-middle-vertical">
<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
  </div>
</div>